body {
    margin: 0;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    background: url(images/background.png) repeat;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

code {
    margin: 0 2px;
    padding: 1px 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    max-width: 100%;
    overflow: auto;
    font-family: monospace;
    color: slategray;
    background-color: cornsilk;
    text-shadow: 0 1px 0 white;
    box-shadow: 0 0 2px lightgray;
}

pre code {
    padding: 10px 0 10px 5px;
    display: block;
    box-shadow: 0 0 5px lightgray;
}

p {
    line-height: 125%;
}

strong {
    color: orangered;
}

blockquote {
    font-style: italic;
    font-weight: bold;
}
